
@media (max-width: 1600px){
    .ourPrinciples_notepad, .ourPrinciples_inseo, .ourPrinciples_watch{
        z-index: -2;
    }
}
@media (max-width: 1169px) {
    .workScope_main {
        justify-content: center;
    }
    .workScope_main div {
        width: 80%;
    }
    .workScope_main p {
        max-width: 100%;
    }
}
@media (max-width: 1139px){
    .ourPrinciples_main{
        justify-content: space-around;
    }
    .ourPrinciples_coffee {
        bottom: -19%;
        left: 34%;
    }
}
@media (max-width: 1138px){
    .prices_main{
        justify-content: space-around;
    }
    .price_card+.price_card+.price_card{
        margin-top: 20px;
    }
}

@media (max-width: 1115px) {
    .banner {
        padding-bottom: 100px;
    }
    .banner_coffee, .banner_phone, .banner_mouse, .banner_notepad, .banner_notepad-inseo, .banner_keyboard {
        display: none;
    }
    .banner_pk {
        margin-bottom: 80px;
    }
}
@media (max-width: 1090px){
    .antivirus{
        z-index: 2;
    }
}
@media (max-width: 1042px) {
    .loop {
        display: none;
    }
    .stepsToSuccess_main-inner1:nth-child(3) {
        display: none;
    }
    .stepsToSuccess_main {
        justify-content: space-around;
    }
    .stepsToSuccess_main-inner1, .stepsToSuccess_main-inner2 {
        text-align: left;
    }
    .stepsToSuccess_main-inner1 h5 {
        padding-right: 0;
        padding-left: 100px;
    }
    .inner_img1 {
        left: 5px;
    }
}
@media (max-width: 1040px){
    .antivirus_main{
        justify-content: space-between;
    }
    .antivirus_main ul{
        margin-right: 0;
    }
}
@media (max-width: 947px){
    .antivirus_main {
        justify-content: center;
    }
    .antivirus_main img {
        margin-right: 0;
        margin-top: 15px;
    }
}
@media (max-width: 940px){
    .footer_logo{
        display: none;
    }
    .footer_main{
        padding: 20px 10px;
    }
    .footer_mail, .footer_phone, .footer_copyright{
        padding: 5px 30px;
    }
    .footer_copyright{
        padding-left: 0;
    }
}

@media (max-width: 907px){
    .ourResults_main{
        justify-content: center;
    }
    .ourResults{
        padding-bottom: 100px;
    }
}
@media (max-width: 900px) {
    .price_info-photo2 {
        width: 100%;
    }
}
@media (max-width: 850px) {
    .banner_footer .container {
        display: flex;
        flex-wrap: wrap;
    }
    ul {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    ul li {
        display: none;
        margin-bottom: 7px;
    }
    .header_menu {
        display: block;
        margin-top: 15px;
        margin-bottom: 8px;
    }
    .header_logo {
        position: absolute;
        left: 0;
        top: 0;
    }
    .stepsToSuccess_main {
        justify-content: space-between;
    }
}
@media (max-width: 832px){
    .footer_main{
        justify-content: space-around;
    }
}
@media (max-width: 823px) {
    .banner_footer p+p {
        margin-top: 15px;
    }
}

@media (max-width: 793px) {
    .promotion_main-items {
        justify-content: center;
    }
}
@media (max-width: 789px) {
    .stepsToSuccess_header h2 {
        padding-bottom: 40px;
    }
    .stepsToSuccess_main {
        justify-content: center;
    }
    
    .stepsToSuccess_main-inner1+.stepsToSuccess_main-inner1, .stepsToSuccess_main-inner2+.stepsToSuccess_main-inner2 {
        margin-top: 40px;
    }
    .stepsToSuccess_main-inner1, .stepsToSuccess_main-inner2 {
        margin-top: 40px;
    }
    .stepsToSuccess{
        padding-bottom: 40px;
    }
}
@media (max-width: 769px){
    .ourPrinciples_coffee {
        bottom: -12%;
        left: 24%;
    }
    .ourPrinciples_earpiece{
        right: 0px;
    }
    .ourPrinciples_main{
        padding-bottom: 55px;
    }
    .price_card+.price_card{
        margin-top: 20px;
    }
}

@media (max-width: 750px) {
    .header_info {
        display: flex;
        justify-content: space-evenly;
    }
    .header_mail {
        position: unset;
    }
    .ourResults{
        padding-bottom: 60px;
    }
}
@media (max-width: 650px){
    .orderform_usb, .inseo_top, .orderform_loop{
        display: none;
    }
}
@media (max-width: 600px) {
    .banner_pk {
        margin-bottom: 50px;
    }
    .banner_inner h1 {
        font-size: 55px;
    }
    .banner_inner h2 {
        font-size: 42px;
    }
    .banner_inner p {
        font-size: 20px;
    }
    .workScope_main div {
        text-align: center;
        padding: 157px 50px 33px;
    }
    .workScope_main img {
        top: 8%;
        left: 36%;
    }
    .ourPrinciples_earpiece{
        display: none;
    }
    .ourPrinciples_coffee{
        left: 16%;
    }
    .antivirus_photo{
        width: 100%;
    }
}
@media (max-width: 580px){
    form{
        display: block;
    }
    .input_group{
        width: 100%;
    }
    .orderForm_main{
        padding: 23px 10px 38px;
    }
}
@media (max-width: 550px) {
    .header_info {
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .header_info a {
        padding-right: 30px;
    }
    .workScope_main div {
        padding: 150px 10px 30px;
    }
}

@media (max-width: 484px) {
    .header_info {
        justify-content: center;
    }
    .header_map {
        margin-bottom: 10px;
    }
    .ourPrinciples_coffee{
        display: none;
    }
    .ourPrinciples{
        padding-bottom: 10px;
    }
    .prices_photo{
        display: none;
    }
}

@media (max-width: 460px) {
    .banner_inner h1 {
        font-size: 48px;
    }
    .banner_inner h2 {
        font-size: 38px;
    }
    .banner_inner p {
        font-size: 18px;
    }
    .ourPrinciples_inseo, .ourPrinciples_pen, .antivirus_usb{
        display: none;
    }
}
@media (max-width: 449px){
    .footer_mail, .footer_phone, .footer_copyright{
        padding: 7px 0;
        text-align: center;
    }
    .footer_mail, .footer_phone{
        padding-left: 30px;
        padding-right: 20px;
    }
}
@media (max-width: 424px) {
    .header_info a {
        padding-right: 0;
    }
    .stepsToSuccess_main-inner1, .stepsToSuccess_main-inner2{
        width: auto;
    }
    .prices{
        padding-top: 70px;
    }
}

@media (max-width: 400px) {
    .banner_inner h1 {
        font-size: 36px;
    }
    .banner_inner h2 {
        font-size: 30px;
    }
    .banner_inner p {
        font-size: 16px;
    }
    .price_card{
        padding: 38px 10px 30px;
    }
}
@media (max-width: 346px){
    .ourPrinciples_notepad, .ourPrinciples_inseo, .ourPrinciples_watch {
        width: 80%;
    }
}
/* ------------ */

@media (min-width: 851px) {
    ul li {
        display: block;
    }
}